[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
